@page "/"

<PageTitle>Home</PageTitle>

<section class="section section--default">
  <div class="container container--grid gap--responsive">
    <div class="container__center--xs vertical-spacing">
      <h2 class="h2">Weitere Informationen</h2>
      <ul id="accordion-100" class="accordion">
        <li class="accordion__item">
          <button
            id="accordion-control-10"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-10"
          >
            <h3 class="accordion__title">Medienmitteilungen</h3>
            <!---->
          </button>
          <div id="content-10" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              <h4 class="h5">Title h4</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor
              </p>
              <ul class="list list--default">
                <li>List example</li>
                <li>
                  List example with
                  <a href="#" target="_blank" tabindex="-1">external link</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <button
            id="accordion-control-11"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-11"
          >
            <h3 class="accordion__title">Interviews</h3>
            <!---->
          </button>
          <div id="content-11" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              <div class="card card--flat card--clickable">
                <!---->
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h4>Flat Card example</h4></div>
                    <p>Digitale Karten und Geoinformation im Unterricht</p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">22. März 2012</div>
                    <div class="card__footer__action">
                      <a
                        href="#"
                        type="false"
                        class="btn btn--outline btn--icon-only"
                        aria-label="false"
                        tabindex="-1"
                      >
                        <!---->
                        <span class="btn__text">Mehr anschauen</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card--flat card--clickable">
                <!---->
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h4>Flat Card example</h4></div>
                    <p>Digitale Karten und Geoinformation im Unterricht</p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">22. März 2012</div>
                    <div class="card__footer__action">
                      <a
                        href="#"
                        type="false"
                        class="btn btn--outline btn--icon-only"
                        aria-label="false"
                        tabindex="-1"
                      >
                        <!---->
                        <span class="btn__text">Mehr anschauen</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card--flat card--clickable">
                <!---->
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title">
                      Swisstopo Daten sind neu in geo.admin.ch Geo- und
                      Downloaddiensten kostenlos...
                    </div>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">22. März 2012</div>
                    <div class="card__footer__action">
                      <a
                        href="#"
                        type="false"
                        class="btn btn--outline btn--icon-only"
                        aria-label="false"
                        tabindex="-1"
                      >
                        <!---->
                        <span class="btn__text">Mehr anschauen</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <button
            id="accordion-control-12"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-12"
          >
            <h3 class="accordion__title">Dokumente und Downloads</h3>
            <!---->
          </button>
          <div id="content-12" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              <ul class="download-items">
                <li>
                  <a
                    class="download-item"
                    href="../../../public/documents/dummy.pdf"
                    download="dummy.pdf"
                    tabindex="-1"
                  >
                    <!---->
                    <div>
                      <h4 class="download-item__title">
                        Information on the usage of websites
                      </h4>
                      <p class="download-item__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean feugiat augue eu purus luctus rhoncus. Donec
                        ultricies venenatis nibh, vel placerat est accumsan
                        quis. Maecenas urna nibh, pretium pretium odio id,
                        rhoncus rhoncus lorem. Nulla eu neque sagittis, cursus
                        purus eget, sodales est. Duis at ultrices odio, ac
                        egestas dolor.
                      </p>
                      <p class="meta-info download-item__meta-info">
                        <span class="meta-info__item">PDF</span>
                        <span class="meta-info__item">22.01.2022</span>
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="download-item"
                    href="/images/html-structure.png"
                    download="image.png"
                    tabindex="-1"
                  >
                    <!---->
                    <div>
                      <h4 class="download-item__title">
                        Information on the usage of websites
                      </h4>
                      <!---->
                      <p class="meta-info download-item__meta-info">
                        <span class="meta-info__item">PNG</span>
                        <span class="meta-info__item">22.01.2022</span>
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <button
            id="accordion-control-13"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-13"
          >
            <h3 class="accordion__title">Reden</h3>
            <!---->
          </button>
          <div id="content-13" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              <figure>
                <picture>
                  <source
                    srcset="https://picsum.photos/1600/900"
                    media="(min-width: 800px)"
                  />
                  <img src="https://picsum.photos/1600/1200" alt="cat" />
                </picture>
                <figcaption>
                  Datenmodelle als http-Ressource nutzbar zu machen. Der Vorteil
                  für einen Benutzer liegt darin, dass die Modelldateien und
                  evtl. weitere importierte Datenmodelle nicht lokal vorhanden
                  sein müssen —&nbsp;©&nbsp;Photograph Name
                </figcaption>
              </figure>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <button
            id="accordion-control-14"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-14"
          >
            <h3 class="accordion__title">Parlament</h3>
            <!---->
          </button>
          <div id="content-14" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              AccordionItem Content here
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <button
            id="accordion-control-15"
            class="accordion__button"
            aria-expanded="false"
            aria-controls="content-15"
          >
            <h3 class="accordion__title">Gesetze und Verordnungen</h3>
            <!---->
          </button>
          <div id="content-15" class="accordion__drawer" aria-hidden="true">
            <div class="accordion__content vertical-spacing">
              AccordionItem Content here
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="hero hero--main-image">
  <div class="container container--grid gap--responsive">
    <div class="hero__content">
      <!---->
      <h1 class="hero__title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h1>
      <h2 class="hero__subtitle">
        Pellentesque dui dui, eleifend ac interdum eget, consectetur in odio.
      </h2>
      <div class="hero__description">
        Pellentesque dui dui, eleifend ac interdum eget, consectetur in odio.
        Suspendisse potenti. Integer a mi ullamcorper, fermentum nisi quis,
        efficitur velit.
      </div>
      <div class="hero__cta">
        <a
          href="#"
          type="false"
          class="btn btn--outline btn--icon-right"
          aria-label="false"
        >
          <!---->
          <span class="btn__text">Unsere Dienstleistungen</span>
        </a>
      </div>
      <!---->
    </div>
    <div class="hero__image">
      <picture>
        <source
          srcset="https://picsum.photos/1282/961/?image=29"
          media="(min-width: 1800px)"
        />
        <source
          srcset="https://picsum.photos/1192/894/?image=28"
          media="(min-width: 1024px)"
        />
        <source
          srcset="https://picsum.photos/800/600/?image=29"
          media="(min-width: 768px)"
        />
        <source
          srcset="https://picsum.photos/680/510/?image=28"
          media="(min-width: 480px)"
        />
        <img src="https://picsum.photos/480/360/?image=29" alt="ratio is 4/3" />
      </picture>
      <!---->
    </div>
  </div>
</section>

<section class="section bg--secondary-50">
  <div class="container container--grid gap--responsive">
    <figure class="quote">
      <div class="quote__text">
        <blockquote class="quote__title">
          Unsere Welt entwickelt sich ohne Rücksicht, und das Ergebnis ist ein
          Verlust der Artenvielfalt, Energieprobleme, Staus in den Städten. Aber
          Geografie kann, wenn sie richtig eingesetzt wird, dazu genutzt werden,
          nachhaltige und lebenswertere Städte neu zu gestalten
        </blockquote>
        <figcaption class="quote__author">Jack Dangermond, geograph</figcaption>
      </div>
      <picture class="quote__image">
        <source
          srcset="https://picsum.photos/2048/1152/?image=29"
          media="(min-width: 1024px)"
        />
        <img
          src="https://picsum.photos/1024/768/?image=29"
          alt="image name"
          class="shadow-2xl"
        />
      </picture>
    </figure>
  </div>
</section>


<section class="hero hero--default">
  <div class="container container--grid gap--responsive">
    <div class="hero__content">
      <p class="meta-info">
        <span class="meta-info__item">Webartikel</span>
        <span class="meta-info__item">23. Februar 2022</span>
      </p>
      <h1 class="hero__title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h1>
      <h2 class="hero__subtitle">
        Pellentesque dui dui, eleifend ac interdum eget, consectetur in odio.
      </h2>
      <div class="hero__description">
        Pellentesque dui dui, eleifend ac interdum eget, consectetur in odio.
        Suspendisse potenti. Integer a mi ullamcorper, fermentum nisi quis,
        efficitur velit.
      </div>
      <!---->
      <aside class="authors">
        <div class="disc-images" aria-hidden="true">
          <div class="disc-image">
            <img
              src="https://picsum.photos/120/120/?image=29"
              title="Maria Muster"
            />
          </div>
          <div class="disc-image">
            <img
              src="https://picsum.photos/120/120/?image=30"
              title="Jean-Jaques Langerename"
            />
          </div>
          <div class="disc-image">
            <img
              src="https://picsum.photos/120/120/?image=31"
              title="Hans Höllman"
            />
          </div>
          <div class="disc-image">
            <img
              src="https://picsum.photos/120/120/?image=32"
              title="Katja Anna-Beerli"
            />
          </div>
        </div>
        <address class="authors__names">
          von
          <span class="author__name">Maria Muster</span>
          <a class="link author__name" href="#">Jean-Jaques Langerename</a>
          <span class="author__name">Hans Höllman</span>
          <span class="author__name">Katja Anna-Beerli</span>
        </address>
      </aside>
    </div>
    <div class="hero__image">
      <!---->
      <picture>
        <source
          srcset="https://picsum.photos/1282/721/?image=29"
          media="(min-width: 1800px)"
        />
        <source
          srcset="https://picsum.photos/1192/670/?image=28"
          media="(min-width: 1024px)"
        />
        <source
          srcset="https://picsum.photos/800/450/?image=29"
          media="(min-width: 768px)"
        />
        <source
          srcset="https://picsum.photos/680/382/?image=28"
          media="(min-width: 480px)"
        />
        <img
          src="https://picsum.photos/480/270/?image=29"
          alt="ratio is 16/9"
        />
      </picture>
    </div>
  </div>
</section>


    <section class="hero hero--hub">
      <div class="container container--grid gap--responsive">
        <div class="hero__content">
          <!---->
          <h1 class="hero__title">Unsere Dienstleistungen</h1>
          <!---->
          <div class="hero__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            tincidunt enim id orci facilisis placerat. Proin odio mauris,
            venenatis non placerat at, finibus non tortor. Mauris sodales
            ultrices neque sit amet cogsectetur.
          </div>
          <!---->
          <!---->
        </div>
        <!---->
      </div>
    </section>
    <section class="section bg--secondary-100">
      <div class="container">
        <div class="grid grid--responsive-cols-3 gap--responsive">
          <div class="card card--highlight card--clickable">
            <!---->
            <!---->
            <div class="card__content">
              <div class="card__body">
                <div class="card__title"><h3>Datenmodellablage</h3></div>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam At vero eos et ac-cusam et justo duo dolores et ea rebum
                  Stet clita kasd gubergren. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam At vero eos et ac-cusam
                  et justo duo dolores et ea rebum Stet clita kasd gubergren.
                </p>
                <!---->
              </div>
              <div class="card__footer">
                <div class="card__footer__info"></div>
                <div class="card__footer__action">
                  <a
                    href="#"
                    type="false"
                    class="btn btn--outline btn--icon-only"
                    aria-label="false"
                  >
                    <!---->
                    <span class="btn__text">
                      Mehr lesen über Datenmodellablage
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--highlight card--clickable">
            <!---->
            <!---->
            <div class="card__content">
              <div class="card__body">
                <div class="card__title"><h3>Geodienste</h3></div>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam At vero eos et ac-cusam et justo duo dolores et ea rebum
                  Stet clita kasd gubergren. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam At vero eos et ac-cusam
                  et justo duo dolores et ea rebum Stet clita kasd gubergren.
                </p>
                <!---->
              </div>
              <div class="card__footer">
                <div class="card__footer__info"></div>
                <div class="card__footer__action">
                  <a
                    href="#"
                    type="false"
                    class="btn btn--outline btn--icon-only"
                    aria-label="false"
                  >
                    <!---->
                    <span class="btn__text">Mehr lesen über Geodienste</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--highlight card--clickable">
            <!---->
            <!---->
            <div class="card__content">
              <div class="card__body">
                <div class="card__title"><h3>Datenbezug</h3></div>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam At vero eos et ac-cusam et justo duo dolores et ea rebum
                  Stet clita kasd gubergren. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam At vero eos et ac-cusam
                  et justo duo dolores et ea rebum Stet clita kasd gubergren.
                </p>
                <!---->
              </div>
              <div class="card__footer">
                <div class="card__footer__info"></div>
                <div class="card__footer__action">
                  <a
                    href="#"
                    type="false"
                    class="btn btn--outline btn--icon-only"
                    aria-label="false"
                  >
                    <!---->
                    <span class="btn__text">Mehr lesen über Datenbezug</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--highlight card--clickable">
            <!---->
            <!---->
            <div class="card__content">
              <div class="card__body">
                <div class="card__title">
                  <h3>Beratung und Koordination</h3>
                </div>
                <p>
                  At vero eos et ac-cusam et justo duo dolores et ea rebum Stet
                  clita kasd gubergren.
                </p>
                <!---->
              </div>
              <div class="card__footer">
                <div class="card__footer__info"></div>
                <div class="card__footer__action">
                  <a
                    href="#"
                    type="false"
                    class="btn btn--outline btn--icon-only"
                    aria-label="false"
                  >
                    <!---->
                    <span class="btn__text">Mehr lesen über Beratung</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--highlight card--clickable">
            <!---->
            <!---->
            <div class="card__content">
              <div class="card__body">
                <div class="card__title"><h3>Geodienste</h3></div>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam At vero eos et ac-cusam et justo duo dolores et ea rebum
                  Stet clita kasd gubergren.
                </p>
                <!---->
              </div>
              <div class="card__footer">
                <div class="card__footer__info"></div>
                <div class="card__footer__action">
                  <a
                    href="#"
                    type="false"
                    class="btn btn--outline btn--icon-only"
                    aria-label="false"
                  >
                    <!---->
                    <span class="btn__text">Mehr lesen über Geodienste</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>