@inherits LayoutComponentBase

<body>
    <header id="main-header">
        <a href="#main-content" class="skip-to-content">Skip to main content</a>
        <TopBar />
        <TopHeader />
        <DesktopMenu />
        <MobileMenu />
        <Breadcrumb />
    </header>
    <main id="main-content">
        <section class="container">
            @Body <!-- This will render the content of the page inside this section -->
        </section>
        <section>
            <!-- Additional full-width content can be added here if needed -->
            <!-- Optional additional parameter to inject full-width content -->
        </section>
    </main>
    <footer id="main-footer">
        <div class="container">
            <Footer /> <!-- Footer component -->
        </div>
    </footer>
</body>
