@inherits LayoutComponentBase

<body>
    <header id="main-header">
        <a href="#main-content" class="skip-to-content">Skip to main content</a>
        <TopBar />
        <TopHeader />
        <DesktopMenu />
        <!-- <MobileMenu /> -->
        <!-- <Breadcrumb /> -->
    </header>
    <main id="main-content">
        <section class="container">
            <!-- content with max width here -->
            @Body
        </section>
        <section>
            <!-- full width content here -->
        </section>
    </main>
    <footer id="main-footer" class="footer">
        <Footer />
    </footer>
</body>
