@page "/examples/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>
<section class="section section--default">
  <div class="hero__content">
   <h1 class="hero__title">Counter</h1>
   <div class="hero__description">
        Current count: @currentCount
   </div>
   <div class="hero__cta">
        <button type="button" class="btn btn--base btn--filled" @onclick="IncrementCount">
            <span class="btn__text">Count (filled)</span>
        </button>

        <button type="button" class="btn btn--base btn--outline" @onclick="IncrementCount">
            <span class="btn__text">Count (outline)</span>
        </button>
    </div>
  </div>
</section>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}