@page "/examples/carousel"

<PageTitle>Carousel</PageTitle>
<section class="section section--default">
  <div class="container">
   <div class="h1">Carousel</div>
  </div>
</section>

<div>
  <div class="section bg--secondary-50">
    <div class="container">
      <div class="carousel carousel--cards">
        <div
          class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
        >
          <div
            class="swiper-wrapper"
            id="swiper-wrapper-6e61020a733f9a882"
            aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);"
          >
            <div
              class="swiper-slide swiper-slide-active"
              role="group"
              aria-label="1 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=29"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              role="group"
              aria-label="2 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=28"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide"
              role="group"
              aria-label="3 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=1045"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
        <div class="carousel__fonctions">
          <div
            id="carousel-pagination-2"
            class="carousel__pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
          >
            <span
              class="carousel__bullet carousel__bullet--active"
              tabindex="0"
              role="button"
              aria-label="Go to slide 1"
              aria-current="true"
            ></span>
          </div>
          <button
            id="carousel-prev-2"
            class="carousel__prev swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-6e61020a733f9a882"
            aria-disabled="true"
          >
            <div class="sr-only">Previous image</div>
            <!---->
          </button>
          <button
            id="carousel-next-2"
            class="carousel__next swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-6e61020a733f9a882"
            aria-disabled="true"
          >
            <div class="sr-only">Next image</div>
            <!---->
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg--secondary-100">
    <div class="container">
      <div class="carousel carousel--cards">
        <div
          class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
        >
          <div
            class="swiper-wrapper"
            id="swiper-wrapper-1dec9f88a1e4049f"
            aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);"
          >
            <div
              class="swiper-slide swiper-slide-active"
              role="group"
              aria-label="1 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=29"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              role="group"
              aria-label="2 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=28"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide"
              role="group"
              aria-label="3 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=1045"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
        <div class="carousel__fonctions">
          <div
            id="carousel-pagination-3"
            class="carousel__pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
          >
            <span
              class="carousel__bullet carousel__bullet--active"
              tabindex="0"
              role="button"
              aria-label="Go to slide 1"
              aria-current="true"
            ></span>
          </div>
          <button
            id="carousel-prev-3"
            class="carousel__prev swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-1dec9f88a1e4049f"
            aria-disabled="true"
          >
            <div class="sr-only">Previous image</div>
            <!---->
          </button>
          <button
            id="carousel-next-3"
            class="carousel__next swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-1dec9f88a1e4049f"
            aria-disabled="true"
          >
            <div class="sr-only">Next image</div>
            <!---->
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg--secondary-500">
    <div class="container">
      <div class="carousel carousel--cards">
        <div
          class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
        >
          <div
            class="swiper-wrapper"
            id="swiper-wrapper-8b597e44e1ff8d5a"
            aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);"
          >
            <div
              class="swiper-slide swiper-slide-active"
              role="group"
              aria-label="1 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=29"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              role="group"
              aria-label="2 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=28"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide"
              role="group"
              aria-label="3 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=1045"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
        <div class="carousel__fonctions">
          <div
            id="carousel-pagination-4"
            class="carousel__pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
          >
            <span
              class="carousel__bullet carousel__bullet--active"
              tabindex="0"
              role="button"
              aria-label="Go to slide 1"
              aria-current="true"
            ></span>
          </div>
          <button
            id="carousel-prev-4"
            class="carousel__prev swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-8b597e44e1ff8d5a"
            aria-disabled="true"
          >
            <div class="sr-only">Previous image</div>
            <!---->
          </button>
          <button
            id="carousel-next-4"
            class="carousel__next swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-8b597e44e1ff8d5a"
            aria-disabled="true"
          >
            <div class="sr-only">Next image</div>
            <!---->
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg--secondary-600">
    <div class="container">
      <div class="carousel carousel--cards">
        <div
          class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
        >
          <div
            class="swiper-wrapper"
            id="swiper-wrapper-5f164cc6aac7c579"
            aria-live="polite"
            style="transform: translate3d(0px, 0px, 0px);"
          >
            <div
              class="swiper-slide swiper-slide-active"
              role="group"
              aria-label="1 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=29"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              role="group"
              aria-label="2 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=28"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div
              class="swiper-slide"
              role="group"
              aria-label="3 / 3"
              style="width: 374.667px; margin-right: 48px;"
            >
              <div class="card card--default card--clickable">
                <div class="card__image">
                  <picture>
                    <img
                      src="https://picsum.photos/1024/768/?image=1045"
                      alt="image name"
                      height="768"
                      width="1024"
                    />
                  </picture>
                </div>
                <!---->
                <div class="card__content">
                  <div class="card__body">
                    <div class="card__title"><h3>Card title</h3></div>
                    <p>
                      If possible, less than 150 chars here, sed Lorem ipsum
                      dolor sit amet, consetetur sadipscing elir, sed Lorem
                      ipsum dolor sit amet...
                    </p>
                    <!---->
                  </div>
                  <div class="card__footer">
                    <div class="card__footer__info">
                      Dienstleistungen &amp; Produkte
                    </div>
                    <div class="card__footer__action">
                        <a
                            href="#"
                            type="button"
                            class="btn btn--outline btn--icon-only"
                            aria-label="Weiterlesen"
                        >
                            <!-- Icon (SVG or Icon Font) -->
                        <svg viewBox="0 0 24 24" class="btn__icon icon icon--base">
                            <path
                            d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"
                            ></path>
                        </svg>
                            <!-- Hidden Text -->
                            <span class="btn__text">Weiterlesen</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
        <div class="carousel__fonctions">
          <div
            id="carousel-pagination-5"
            class="carousel__pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
          >
            <span
              class="carousel__bullet carousel__bullet--active"
              tabindex="0"
              role="button"
              aria-label="Go to slide 1"
              aria-current="true"
            ></span>
          </div>
          <button
            id="carousel-prev-5"
            class="carousel__prev swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-5f164cc6aac7c579"
            aria-disabled="true"
          >
            <div class="sr-only">Previous image</div>
            <!---->
          </button>
          <button
            id="carousel-next-5"
            class="carousel__next swiper-button-disabled swiper-button-lock"
            disabled=""
            tabindex="-1"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-5f164cc6aac7c579"
            aria-disabled="true"
          >
            <div class="sr-only">Next image</div>
            <!---->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>