@page "/"

<PageTitle>Home</PageTitle>
<section class="section section--default">
  <div class="container">
   <div class="h1">Blazor_Server_Template</div>
  </div>
</section>

<section class="section bg--secondary-50">
  <div class="container container--grid gap--responsive">
    <figure class="quote">
      <div class="quote__text">
        <blockquote class="quote__title">Begin anywhere.</blockquote>
        <figcaption class="quote__author">John Cage</figcaption>
      </div>
      <picture class="quote__image">

        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/John_Cage_%281988%29.jpg/576px-John_Cage_%281988%29.jpg"
          alt="image name"
          class="shadow-2xl"
        />
      </picture>
    </figure>
  </div>
</section>